    
/*css.index*/
.select ul {
    /*letter-spacing: 2px;*/
    line-height: 2.5;
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.select ul li a{
    text-decoration:none;  
}
.sidenav {
    height: -webkit-fill-available;
    width: 220px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cccccc;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    background-color: #b3b3b3;
    color: white;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
.dropdown-container a{
    font-size: 16px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
.container .select{
    padding-left: 0px !important;
}
.dropdown-btn{
    overflow: hidden;
    height: 0;
    height: auto;
    transition : 0.4s;
}
.content{
    background: #EEEEEE;
    padding-right: 0px;
    height: -webkit-fill-available;
}
.container{
    height: 100%;
    padding-left: 0px;
    position: fixed;
    top: 0;
    bottom: 0;
}
.btn-danger{
    padding-left: 60px !important;
    font-size: 16px !important;
}
.faicon{
    text-decoration: none !important;
    font-size: 20px;
    position: fixed;
    float:  !important;
    margin: 30px 30px 20px 900px;
}
.sidenav a {
    text-align: center;
}
/*end css index*/

/*end css homeuser*/

.widget{
    margin-top: 35px;
    margin-left: 200px;
}
.widget-content {
    height: 95px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.widget-content .number {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.widget-content .content-number {
    font-size: 20px;
    font-style: italic;
    color: #f3f3f3;
}
.first-content {
    background: #f29ff2;
    border: 1px solid #990000;
}
.second-content {
    margin-left: 120px;
    background: #f4c842;
    border: 1px solid #000066;
}

/*  .a:link, a:visited { 
    color: yellow;
    text-decoration: underline;
    cursor: auto;
    }
    a:link:active, a:visited:active { 
    color: red;
    }*/
}
.noi-dung-header{
    margin-top: 40px;
    text-align: center;
}
.noi-dung  h2 {
    text-align: center;
}
 
/*end css homeuser*/